html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
.input_food_form {
    position: absolute;
    top: 33%;
    left: 10%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
  .input_food_form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #03e9f4;
    text-align: center;
  }
  
  .input_food_child {
    position: relative;
  }
  
  .input_food_child input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
  }

  .input_food_child label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .input_food_child input:focus ~ label,
  .input_food_child input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .button span {
    position: absolute;
    display: block;
  }
  
  .button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 2s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

.button {
    background: linear-gradient(#141e30, #243b55);
  }

.food_table {
    position: absolute;
    top: 11%;
    left: 72%;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 10px 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
    padding: 30px;
}

.table {
    position: relative;
    width: 400px;
    padding: 40px;
}

.caption {
  margin: 0 0 0px;
  text-align: center;
  color: #03e9f4;
}

.cell {
  color:white;
  padding: 5px;
}

.macronutrient-tracker-header {
  text-align: center;
  font-size: 100px;
  color: #03e9f4;
  padding: 20px;
  font-family: cursive;
}





/* api-query-parent div */

.api-query-parent {
  position: absolute;
  top: 60%;
  right: 82%;
  background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 10px 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
    padding: 30px;
}

.api-query-parent h2 {
  color: #03e9f4;
}

.api-query-child {
  position: relative;
}

.api-query-child input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.api-query-child label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.api-query-child input:focus ~ label,
.api-query-child input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}





/* change-cal-goal-parent div */

.change-cal-goal-parent {
  position: absolute;
  top: 60%;
  right: 63%;
  background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 10px 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
    padding: 30px;
}

.change-cal-goal-parent h2 {
  color: #03e9f4;
}

.change-cal-goal-child {
  position: relative;
}

.change-cal-goal-child input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.change-cal-goal-child label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.change-cal-goal-child input:focus ~ label,
.change-cal-goal-child input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}





/* delete-table-parent div */

.delete-table-parent {
  position: absolute;
  top: 60%;
  right: 52%;
  background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 10px 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
    padding: 30px;
}

.delete-table-parent h2 {
  color: #03e9f4;
}





/* myChart div */

.myChart {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 50%;
  top: 18%;
  
}

.myChart-h2 {
  position: absolute;
  color:#03e9f4;
  left: 52%;
  top: 13%;
}

.barGraph {
  position: absolute;
  height: 40%;
  width: 20%;
  left: 22%;
  top: 25%;
  border-color: aquamarine;
}

.barGraph-h2 {
  position: absolute;
  color:#03e9f4;
  left: 25%;
  top: 15%;
}





/* update_page.html */

.update-page body {
  background: linear-gradient(#141e30, #243b55);
}

.old-data {
  position: absolute;
  top: 20%;
  right: 35%;
  background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 10px 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
    padding: 30px;
}

.old-data h2 {
  color: #03e9f4;
}

.old-data p {
  color: white;
}

.update_food_form {
  position: absolute;
  top: 33%;
  left: 40%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.update_food_form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #03e9f4;
  text-align: center;
}

.update_food_child {
  position: relative;
}

.update_food_child input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.update_food_child label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.update_food_child input:focus ~ label,
.update_food_child input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}





/* login.html */

.login {
  position: absolute;
    top: 33%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #03e9f4;
  text-align: center;
}

.login-child {
  position: relative;
}

.login-child input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.login-child label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-child input:focus ~ label,
.login-child input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.register-link {
  position: absolute;
  top:80%;
  left: 60%;
}

.msg {
  color:white;
}





/* register.html */

.register {
  position: absolute;
    top: 33%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.register h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #03e9f4;
  text-align: center;
}

.register-form-child {
  position: relative;
}

.register-form-child input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.register-form-child label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.register-form-child input:focus ~ label,
.register-form-child input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-link {
  position: absolute;
  top:80%;
  left: 60%;
}